<%= form_for @order_form, url: orders_path do |f| %>
	<%= render 'orders/errors' %>
	
	<h3>Some of your personal details</h3>
	<%= f.fields_for :user, f.object.user do |u| %>
		<div class= "form-group">
			<p><%= u.text_field :name, placeholder: "Name", class: "form-control input-lg" %></p>
			<p>
				<%= u.text_field :email, placeholder: "Email", class: "form-control" %>
				<span class="help-block">This will help you track your order more effectively.</span>
			</p>
		</div>
		<div class="form-group">
			<div class="row">
				<p class="col-md-6">
					<%= u.text_field :address, placeholder: "Address", class: "form-control" %>
				</p>
				<p class="col-md-3">
					<%= u.text_field :postal_code, placeholder: "Zipcode", class: "form-control" %>
				</p>
				<p class="col-md-3">
					<%= u.text_field :city, placeholder: "City", class: "form-control" %>
				</p>
				<p class="col-md-3">
					<%= select_tag :state, options_for_select(us_states, "FL"), class: "form-control" %>
				</p>
				<p class="col-md-3">
					<%= u.text_field :phone, class: "form-control", placeholder: "Phone" %>
				</p>
			</div>
		</div>
	<% end %>
	<p><%= f.submit "Place order", class: "btn btn-primary" %></p>
<% end %>