<h1>Checkout</h1>

<h2>You are checking out the following products:</h2>

<ul>
	<% @cart.items.each do |item| %>
		<li>
			<em><%= item.quantity %></em>
			<%= item.product.name %>
			<%= number_to_currency item.total_price %>
		</li>
	<% end %>
</ul>

<p>
	<strong>Total price:</strong>
	<%= number_to_currency @cart.total_price %>
</p>

<div class="row">
	<div class="col-md-6">
		<%= render 'carts/form_checkout' %>
	</div>
</div>